.json-div{
    display: flex;
    width: 100%;
}
.json-div div{
    margin: 2px;
    width: 100%;
    cursor: pointer;
}
.json-div input{
    width: 100%;
    box-sizing: border-box;
}
.json-div textarea{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}